@charset "utf-8";

:root {
    --color-black:#000000;
    --color-darkGray:#444444;
    --color-gray:#777777;
    --color-lightGray:#999999;
    --color-white:#ffffff;
    --color-bg01:#1A1C23;
    --color-bg02:#1B1E24;
    --color-bg03:#1C1E22;
    --color-bg04:#21242F;
    --color-bg05:#282D39;
    --color-bg06:#363E4D;
    --color-bg07:#EFF1FE;
    --color-hover-bg01:#1A1C23;
    --color-hover-bg02:#00254B;
    --color-hover-bg03:#00479A;
    --color-text01: #111827;
    --color-text02: #797F89;
    --color-text03: #9092A0;
    --color-text04: #A2A2A2; 
    --color-text05: #D2DAE5;
    --color-text06: #E5EBF5;  
    --color-text07: #3C9DFF;  
    --color-text08: #40506f; 
    --color-text09: #ffffff;  
    --color-point01: #1664C1;
    --color-point02: #FF8A8A;    
    --color-status01: #03D017;
    --color-status02: #D0AF03;
    --color-status03: #F13131;
    --color-status04: #0C79F9;    

    --color-gradient01: linear-gradient(135deg, #0A84FF 0%, #6951FF 51%, #0A84FF 100%);

    --color-btn-bg01: #0065DE;
    --color-btn-bg02: #2860E1;
    --color-btn-bg03: #33384A;
    --color-input-bg01: #1C1E22;
    --color-select-bg01: #1C1E22;
    --color-select-bg02: #33384A;

    --border00: #000000;
    --border01: #191C25;
    --border02: #2B2F3B;
    --border03: #33394B;
    --border04: #3A4155;
    --border05: #3F465F;
    --border06: #2792FE;
    --border07: #0A84FF;
    --scroll-bg01: #121213;
    --scroll-bg02: #5B6171;

    --color-main-bg01:#007FFF; 
    --color-main-bg02:#00B2FF;
    --color-main-bg03:#296EF4;
    --color-main-bg04:#0049B7;
    --color-main-bg05:#483CD7;

    --btn-outlink: url(/img/common/btn-outlink.svg);
  }

[data-theme='dark'] {
    --background-color: #000;
    --color: #fff;
  }


/* 스크롤바 설정*/
.scroll::-webkit-scrollbar{width:8px; height:8px;}
/* 스크롤바 막대 설정*/
.scroll::-webkit-scrollbar-thumb{height:20%; background-color: var(--scroll-bg02); border-radius: 10px;}
/* 스크롤바 뒷 배경 설정*/
.scroll::-webkit-scrollbar-track{background-color:var(--scroll-bg01);}

/* 스크롤바 설정*/
.h-scroll::-webkit-scrollbar{width:0px; height:0px;}
/* 스크롤바 막대 설정*/
.h-scroll::-webkit-scrollbar-thumb{height:20%; background-color: var(--scroll-bg02); border-radius: 10px;}
/* 스크롤바 뒷 배경 설정*/
.h-scroll::-webkit-scrollbar-track{background-color:var(--scroll-bg01);}

/* 스크롤바 설정*/
.b-scroll::-webkit-scrollbar{width:8px; height:8px;}
/* 스크롤바 막대 설정*/
.b-scroll::-webkit-scrollbar-thumb{height:20%; background-color: #aaaaaa; border-radius: 10px;}
/* 스크롤바 뒷 배경 설정*/
.b-scroll::-webkit-scrollbar-track{background-color:#f5f5f5;}


/* text */
.fc-blue {color:var(--font-blue);}
.fc-red {color:var(--font-red);}

/*select */
.select-type01 {width:14.0rem; padding: 0 3.6rem 0 1.2rem; font-size:1.3rem; border:1px solid var(--border05); background-color: var(--color-select-bg02); height:3.4rem; box-sizing: border-box; color:var(--color-text06);}
.select-type01:focus {border:1px solid var(--border06);}

.select-type02 {padding: 0 3.6rem 0 1.2rem; background:url('../../images/common/select_arrow_b.svg') no-repeat calc(100% - 1.2rem) 52%/12px auto; }
.select-type02:focus {outline:none; box-shadow:0 0 0 1px #343434;}

/* input */
input:read-only {background: #f0f0f0;}

.input-type01 {width:14.0rem;  font-size:1.3rem; border:1px solid var(--border05) !important; background-color: var(--color-select-bg02); height:3.4rem; box-sizing: border-box; color:var(--color-text06);}
.input-type01:focus {border:1px solid var(--border06);background-color: var(--color-select-bg02) !important; }

/* button */
.btn {height:3.4rem; line-height:3.2rem; min-width:8.0rem; border-radius: 4px; font-size:1.3rem; border: none !important; color: var(--color-text05); text-align: center;  display: inline-block; box-sizing: border-box; margin-right:0.6rem;}
.btn:hover { transition: all ease 0.2s 0s;}

.btn-type01 {background: var(--color-select-bg02); padding:0 1.2rem; color: var(--color-text05);  border: 1px solid var(--border01) !important; }
.btn-type01:hover {background: var(--color-bg01); border:1px solid var(--border06) !important;}

.btn-type02 {background: var(--color-btn-bg01); padding:0 1.2rem; color:var(--color-text09);  border: 1px solid var(--color-btn-bg01) !important; }
.btn-type02:hover {background: var(--color-btn-bg02); border:1px solid var(--color-btn-bg02) !important;}

.btn-gray {background: #e8e8e8; padding:0 1.2rem;  color:#555555; border: 1px solid #dddddd !important;}
.btn-gray:hover {background: #dddddd; border:1px solid #cccccc !important;}

.btn-down {color:#ffffff; padding:0 1.6rem; border-radius: 4px; display: flex; justify-content:center; align-items: center; box-sizing: border-box;border: 1px solid #265ABF !important; background: #265ABF;}
.btn-down::before {content:''; display: inline-block; background: url(../../images/common/icon_down_w.svg) no-repeat center center; background-size:contain; width:1.2rem; height:1.2rem; padding:0; margin:0 0.8rem 0 0;}
.btn-down:hover {background: #1346a9; border: 1px solid #1346a9 !important;  color:#ffffff;}

.btn-gradation { background: transparent var(--color-gradient01); color: #ffffff; cursor: pointer; background-size: 200% auto;}
.btn-gradation:hover {background-position: right center; transition: all .2s;}

.btn-upload {margin:0; color: #1664C1; display: inline-block; border: 1px solid #1664C1 !important; background: #F0F7FF; padding:0 2.8rem; font-size:1.4rem;}
.btn-upload:hover {background: #F0F7FF; border: 1px solid #1664C1 !important; color:#1664C1; box-shadow: 0px 2px 10px rgb(4 22 55 / 10%);}

.btn-disabled {color: #ffffff; display: inline-block; border: 1px solid #d0d0d0 !important; background: #d0d0d0; cursor: default;}

.btn-close {position: absolute; right:1.0rem; top:0.6rem;}
.btn-close:before {display: block;background: url(../../images/common/icon_close.svg) no-repeat center top; background-size:contain; width:2.2rem; height:2.2rem;}

/* dafault layout */ 
#default-wrap {width:100%;}
.default-inner {display: flex; justify-content: space-between; align-items: center;}
.default-inner > div {height: calc(100vh - 6.0rem);min-height: 66rem;}
.default-inner .left-area {padding: 3.0rem 0 3.0rem 3.0rem;width: calc(50% - 3.0rem);}
.default-inner .left-area-inner {background: var(--color-bg07);border-radius: 12px;height:100%;background-size: cover;display: flex;align-items: center; justify-content: center;}
.default-inner .left-area-inner .logo-title {text-align: center;width: 100%;}
.default-inner .left-area-inner .logo-title .logo img {width:35.0rem;height:10.0rem;object-fit: contain;margin:1.6rem 0;}
.default-inner .left-area-inner .logo-title span {display:block;}
.default-inner .left-area-inner .logo-title span {font-size:1.6rem; color:var(--color-text03);}
.default-inner .left-area-inner .logo-title span:last-child::before {display: block; width:2.4rem; height:0.2rem; background: #9092A0; margin:0.8rem auto;}
.default-inner .left-area-inner .logo-title:after {display: block;background: url(../../images/login/login_bg.png) no-repeat center center;margin:0 auto;width:100%;height: 40vh;background-size: contain;}
.default-inner .right-area {padding: 3.0rem 0;position: relative;width:50%;}
.default-inner .right-area-inner {height: 100%;display: flex;justify-content: center;align-items: center;width: calc(100% - 6.0rem);margin: 0 auto;}
.default-inner .right-area-inner .right-title {text-align: center; margin-bottom:5.0rem;}
.default-inner .right-area-inner .right-title > h2 {font-size:4.8rem; font-weight: bold; display: block; margin-bottom:2.2rem}
.default-inner .right-area-inner .right-title > span {color:var(--color-lightGray);}

/* login */
.login-input-wrap {width:58rem;margin:0 auto;}
.login-input-wrap input {width:100%;}
.input-box {margin-bottom:2.0rem; position:relative;}
.input-box:nth-child(2) {margin-bottom: 0;}
.login-input-wrap .id-input,
.login-input-wrap .pw-input {height: 5.8rem; padding: 0 0 0 4.0rem; border-bottom: 1px solid #C0C0C0;border-right: transparent;border-left: transparent;border-top: transparent;border-radius: 0;}
.login-input-wrap .id-input:focus,
.login-input-wrap .pw-input:focus {box-shadow:0 0 0 0 transparent;  height: 5.8rem; background-color:#ffffff; box-sizing: border-box;}
.input-box:has(input):after {display:block; position: absolute;  width:0%; height: 2px; bottom: 0; left: 50%; transform: translateX(-50%);  background: #0065DE; transition: ease .2s;}
.input-box:has(input:focus):after {width: 100%;}
.input-box:has(input):before {display: block; z-index: 1; position: absolute; top:calc(50% - 1.4rem); left:0.4rem; width:2.8rem; height:2.8rem;}
.input-box:has(.id-input):before {background: url(../../images/login/icon_user.svg)no-repeat center center;}
.input-box:has(.pw-input):before {background: url(../../images/login/icon_pw.svg)no-repeat center center; }
.input-box:has(.id-input:focus):before {background: url(../../images/login/icon_user_ov.svg)no-repeat center center;}
.input-box:has(.pw-input:focus):before {background: url(../../images/login/icon_pw_ov.svg)no-repeat center center; }

.login-input-wrap .login-btn {font-size:1.7rem;border-radius: 8px;height: 6.0rem; font-weight: 500; box-shadow: 0px 4px 8px rgb(47 60 85 / 20%);background:#0065DE;color:var(--color-white);margin-top: 5.4rem;}
.login-input-wrap .login-btn:hover { box-shadow: none; background:#065bc3; transition: all .2s;}
.kdn-logo {text-align: center;margin-top: 5rem;}
.kdn-logo img {width:14.0rem; object-fit: contain;}
.btn-setting {background: url(../../images/common/icon_setting.svg) no-repeat center center;width:2.0rem;height:2.0rem;position:absolute;top: 3.0rem;right: 3.0rem;opacity: 0.4;background-size: contain;}
.btn-setting:hover {opacity: 1;}
.default-footer {position: absolute;bottom: 4.0rem;width: 100%;text-align: center;font-size: 1.3rem;color: var(--color-gray);}

/* project-list */
.project-list-wrap {width: 58rem;margin:0 auto;}
.project-top {display: flex;justify-content: flex-end;align-items: center;margin-bottom: 1.6rem;}
.project-top > button {border-radius: 4px; height:3.0rem;padding: 0 1.6rem;display: flex;align-items: center;font-size: 1.4rem;}
.project-top > button:before {display: block;width:1.2rem;height:1.2rem;margin: 0 0.6rem 0 0;}
.project-create {border:1px solid #1554b5; margin-right:0.6rem; color:#1554b5;}
.project-create:hover {background: #eceeff;transition: all .2s;}
.project-create:before {background: url(../../images/common/icon_plus.svg)no-repeat center center; background-size: contain;}
.project-del {border:1px solid #F13131; color:#F13131; }
.project-del:hover {background: #ffeeee;transition: all .2s;}
.project-del:before {background: url(../../images/common/icon_minus.svg)no-repeat center center; background-size: contain;}

.project-list {overflow-y: auto;width:100%;padding:0 1.8rem 0 0;height: 25.2rem;}
.projcet-item > a {border:2px solid transparent;width:57.6rem;margin-bottom:0.1rem;padding: 1.0rem 0;font-size:1.5rem;line-height: 1.7;border-radius: 6px;display: flex;align-items: center;background: #f5f5f8;}
.projcet-item:nth-child(2n) > a {background: none;}
.projcet-item:last-child > a {margin-bottom: 0.6rem;}
.projcet-item > a:hover, 
.projcet-item.on > a:hover, 
.projcet-item.on > a {border:2px solid #065bc3; background: #eff1fd; transition: all .1s;color:#00479A;}

.projcet-item > a .num {width:calc(6% - 0.6rem); padding-left:0.6rem; text-align: center; font-weight: bold;}
.projcet-item > a .title {width:42%; margin:0 1%;}
.projcet-item > a .description {width:calc(50% - 1.2rem); text-align: right; padding-right:1.2rem; opacity: 0.6;}

.project-list-wrap .ok-btn {width:100%;font-size:1.7rem;border-radius: 8px;height: 6.0rem;font-weight: 500;box-shadow: 0px 4px 8px rgb(47 60 85 / 20%);background:#0065DE;color:var(--color-white);margin: 3.0rem auto 0 auto;display: block;}
.project-list-wrap .ok-btn:hover { box-shadow: none; background:#065bc3; transition: all .2s;}

/* layout */
#wrap {width:100%; color:var(--color-text06); position: relative;}

/* layout - header */
#header {height:6.0rem; z-index:11; position: absolute; top:0; left:0; width: 100%; background: var(--color-bg04); min-width:128.0rem;}
#header:after {display: block; width:100%; height:0.1rem; background: var(--border00);}
.header-inner {padding:0; width:100%;}
.header-menu-wrap {height:6.0rem; min-width:128.0rem;}
.header-menu-inner > div {padding:0; display: flex;justify-content: space-between; align-items: center; position: relative; width:calc(100% - 3.4rem) !important;margin:0 auto;}
.header-item {display: flex; justify-content: flex-start; align-items: center;}

.logo-img {background: #000000;border-radius: 4px;color: var(--border07);font-size:1.3rem;padding: 0.8rem 0;margin-right:1.2rem;width: 9.0rem;text-align: center;}
.program-name {font-size: 1.4rem;padding-bottom:0.1rem;display: flex; align-items: center;}
.program-name > span {color:var(--color-text06);  margin-left:0.3rem;font-weight: normal;padding-bottom:0.1rem; max-width:18.0rem}

.top-mid {margin:0 0.8rem;}
.header-item .all-menu {margin-right:1.2rem;}
.info-list {margin-right:1.2rem;}
.info-list > span {font-size:1.3rem;}
.top-icon {background:var(--color-bg01);width:3.4rem;height:3.4rem; margin-right:0.4rem; border-radius: 4px;border: 1px solid transparent;text-align: center;display: flex;align-items: center;justify-content: center;}
.top-icon:last-child {margin-right:0;}
.top-icon:hover {border:1px solid var(--border07); box-sizing: border-box; transition: all .2s;}
.top-icon:after {display: block; width:2.0rem; height:2.0rem; opacity: 0.85; }
.top-icon:hover:after {opacity: 1;}

[menu-icon=top-home]:after {background: url(../../images/common/top_icon01.svg)no-repeat center center; background-size:contain;}
[menu-icon=top-tab-close]:after {background: url(../../images/common/top_icon02.svg)no-repeat center center; background-size:contain;}
[menu-icon=top-alltab-close]:after {background: url(../../images/common/top_icon03.svg)no-repeat center center; background-size:contain;}
[menu-icon=top-img-save]:after {background: url(../../images/common/top_icon04.svg)no-repeat center center; background-size:contain;}
[menu-icon=top-print]:after {background: url(../../images/common/top_icon05.svg)no-repeat center center; background-size:contain;}

.info-list {display: flex; align-items: center;}
.info-list > span {color:var(--color-text05); margin-right:1.4rem;}
.info-list > span:last-child {margin-right: 0;}
.info-ip {display: flex; align-items: center;}
.info-ip:before {display: block; width:1.2rem; height:1.2rem; border-radius: 50%; margin-right:0.6rem}
.info-ip.nw-good:before {background: var(--color-status01);}
.info-ip.nw-caution:before {background: var(--color-status02);}
.info-ip.nw-bad:before {background: var(--color-status03);}

.info-paths {color:var(--color-text03) !important; width:34.0rem;}

.top-right {display: flex; align-items: center; flex-wrap: wrap;}
.utill-wrap {font-size:1.3rem; display: flex; align-items: center; flex-wrap: wrap; margin-left:1.8rem;}
.utill-wrap .utill-welcome {color:var(--color-text04); display: flex; align-items: center; margin-right:1.2rem;}
.utill-wrap .utill-welcome:before {display: block; background: url(../../images/common/icon_user_w.svg) no-repeat center center; width:1.3em; height:1.3rem; background-size: contain; opacity: 0.6; margin-right:0.8rem;}
.utill-wrap .utill-welcome > span:first-child {color:var(--color-text06); font-weight: 500;}
.utill-wrap .utill-setting {background: url(../../images/common/icon_setting_w.svg)no-repeat center center; width:1.6rem; height:1.6rem; opacity: 0.6; background-size: contain;}
.utill-wrap .utill-setting:hover {opacity: 1;}

/* layout - main */
#main {padding-top:6.1rem;}
#main-wrap {display: flex; justify-content: space-between; min-height: calc(100vh - 6.1rem);}

/* layout - left nav */
#left-nav {z-index: 1;background: var(--color-bg04);min-height: calc(100vh - 6.1rem); position: relative; padding-right: 0.1rem;}
#left-nav:after {display: block;width:0.1rem;height: 100%;background: var(--border00);top: 0;position: absolute; right: 0;}
.left-nav-inner {width: 7.0rem;height: 100%;height: calc(100vh - 6.1rem);box-sizing: border-box;position: relative; }
.left-nav-inner .swiper {overflow: unset;}
.left-nav-inner.lnb-list-full {width:18.0rem; transition: all 0.1s;} 
.lnb-list {height:100%;}
.lnb-list > div > div {display: flex;justify-content: space-between;flex-direction: column;height: 100%; min-height: 54rem;}
.lnb-list button {display: flex; align-items: center; width:100%; height:7.0rem; position: relative;}
.lnb-list button > span {font-size: 0; opacity: 0; width: 0;}
.lnb-list-full button > span {display: block; opacity: 1; font-size:1.4rem; transition: all 0.1s;width: auto;}
.lnb-list button:before {display: block; width:7.0rem; height:7.0rem; opacity: 0.85;}
.lnb-list button:hover,
.lnb-list button.on {background-color: var(--color-bg01); transition: all .2s; text-decoration: underline;}
.lnb-list button:hover:before,
.lnb-list button.on:before { opacity: 1;}
.lnb-list button.on:after,
.lnb-list button:hover:after {display: block; height:100%; width:0.4rem;  background: var(--border07); position: absolute; top:0; left:0;}

.lnb-list-item {position: relative;}
.nav-icon + .lnb-depth-wrap {display: none;}
.nav-icon.on + .lnb-depth-wrap {display:block; position: absolute;z-index: 99;width: 20rem;right: -20rem;top:0;border-radius: 6px;}
.lnb-depth01-inner {padding:1.2rem 0.8rem;border-radius: 6px;background: #f2f7ff;color:var(--color-text01); font-size:1.4rem;border: 4px solid #88bbff;}
.lnb-depth01-inner > ul > li > a {border:1px solid transparent;position: relative;display: block;padding: 0.8rem 2.0rem 0.8rem 0.8rem;border-radius: 6px;letter-spacing: -0.5px;color:#444444}
.lnb-depth01-inner > ul > li > a:hover,
.lnb-depth01-inner > ul > li > a.on {color:#1d5edf; border:1px solid #1d5edf;background: #e5f0ff; box-sizing: border-box;}
.lnb-depth01-inner > ul > li > a + .lnb-depth02-inner {display: none;}
.lnb-depth01-inner > ul > li > a.on + .lnb-depth02-inner {display: block;padding: 1rem;background: #e6ecfb;border-radius: 6px;margin:0.4rem 0;}
.depth-more:after {display: block; background: url(../../images/common/arrow_down.svg)no-repeat center center; width:1.8rem; height:1.8rem; background-size: contain; position: absolute; top:calc(50% - 0.9rem); right: 0.2rem;}
.lnb-depth01-inner > ul > li > a:hover.depth-more:after,
.lnb-depth01-inner > ul > li > a.on.depth-more:after {display: block; background: url(../../images/common/arrow_down_b.svg)no-repeat center center; width:1.8rem; height:1.8rem; background-size: contain; position: absolute; top:calc(50% - 0.9rem); right: 0.2rem;}
.lnb-depth02-inner > ul > li > a {padding:0.4rem; display: block; font-size: 1.3rem; color:#666666}
.lnb-depth02-inner > ul > li > a:hover {text-decoration: underline; color:#1d5edf;}

.menu-full:hover,
.menu-full.on {background-color: transparent !important; }
.menu-full:hover[menu-icon=left01]:before,
.menu-full.on[menu-icon=left01]:before {background: url(../../images/common/left_icon01_ov.svg)no-repeat center center;}
.menu-full:hover:after,
.menu-full.on:after {display: none !important;}

[menu-icon=left01]:before {background: url(../../images/common/left_icon01.svg)no-repeat center center;}
[menu-icon=left02]:before {background: url(../../images/common/left_icon02.svg)no-repeat center center;}
[menu-icon=left03]:before {background: url(../../images/common/left_icon03.svg)no-repeat center center;}
[menu-icon=left04]:before {background: url(../../images/common/left_icon04.svg)no-repeat center center;}
[menu-icon=left05]:before {background: url(../../images/common/left_icon05.svg)no-repeat center center;}
[menu-icon=left06]:before {background: url(../../images/common/left_icon06.svg)no-repeat center center;}
[menu-icon=left07]:before {background: url(../../images/common/left_icon07.svg)no-repeat center center;}


/* layout - cont area */
#cont-area {background: var(--color-bg01);width:100%; height: 100%;  min-height: calc(100vh - 6.1rem); flex-grow: 1; overflow: hidden;}
.cont-area-inner {min-height: calc(100vh - 6.1rem);width: 100%;height: 100%;}

/* layout - stab */
.stab-menu-wrap {width:100%; height:4.8rem; background: var(--color-bg01); display: block; padding-bottom: 0.1rem;}
.stab-menu-wrap:after {display: block; width:100%; height:0.1rem; background: var(--border00);}
.stab-menu-inner {height: 100%; margin:0 auto; position: relative;}                           

.go-main-btn {display: block;width:3.6rem; height:3.6rem; border-radius: 4px; z-index: 2; background: var(--color-bg01);background-size: 200% auto;display: flex;align-items: center;position: absolute;top: 0.6rem;left: 0.6rem;overflow: hidden;}
.go-main-btn:after {display: block; background: url(../../images/common/icon_home.svg)no-repeat center center; background-size: contain; width:1.6rem; height:1.6rem; margin:0 auto;}
.go-main-btn:hover,
.go-main-btn.on {display: block;width:3.6rem;height:3.6rem; border-radius: 4px; z-index: 2; background: var(--color-gradient01);background-size: 200% auto;display: flex;align-items: center;position: absolute;top: 0.6rem;left: 0.6rem;overflow: hidden; transition: all .2s;}

.stab-menu-list {width:calc(100% - 4.8rem); margin: 0 0 0 4.8rem !important; height: 100%;}
.stab-menu-list .swiper-slide {width:auto;height: 100%; position: relative;}
.stab-menu-list .swiper-slide:before {display: block; width:1px; height:3.6rem; background: var(--border05); position: absolute; top:calc(50% - 1.8rem); left:0; opacity: 0.8;}
.stab-menu-item {color:var(--color-text06); padding:0 4.0rem 0 2.0rem;display: flex;height: 100%;align-items: center; border-radius: 4px 4px 0 0;}
.stab-menu-item:before {display: block; background: url(../../images/common/tab_menu_icon.svg)no-repeat center center; width:1.6rem; height:1.4rem; opacity: 0.9;}
.stab-menu-item > span {display: block; margin: 0 1.6rem 0 1.0rem; font-size:1.4rem; height: 1.6rem; color:(var(--color-text06)); opacity: 0.9;}
.stab-menu-item:hover,
.stab-menu-item.on {background: var(--color-bg06); box-shadow: 1px 0px 4px rgb(0 0 0 / 60%);}
.stab-menu-item:hover:before, 
.stab-menu-item.on:before {display: block; background: url(../../images/common/tab_menu_icon_ov.svg)no-repeat center center; width:1.6rem; height:1.4rem; opacity: 0.9;}

.swiper-slide:has(.stab-close:hover) > .stab-menu-item {background: var(--color-bg06);}
.swiper-slide:has(.stab-close:hover) + .swiper-slide:before {display: none;}
.swiper-slide:has(.stab-close:hover) > .stab-menu-item:before {display: block; background: url(../../images/common/tab_menu_icon_ov.svg)no-repeat center center; width:1.6rem; height:1.4rem; opacity: 0.9;}

.stab-menu-list .stab-close {position: absolute;right:1.4rem;top: calc(50% - 0.6rem);width: 1.2rem;height: 1.2rem;}
.stab-menu-list .stab-close:before {display: block;background: url(../../images/common/tab_menu_close.svg)no-repeat center center;width: 1.2rem;height: 1.2rem;opacity: 0.8;background-size: contain;}

.swiper-slide:has(.stab-menu-item:hover) + .swiper-slide:before {display: none;}
.swiper-slide:has(.stab-menu-item.on) + .swiper-slide:before {display: none;}

.cont-area-inner:has(.stab-menu-item) .stab-menu-wrap:after {background: var(--color-bg06);}


/* layout - contain */
.contain-wrap {min-height: calc(100vh - 11rem);background: var(--color-bg01); }
.contain-inner {min-height: calc(100vh - 11rem);height: 100%;}

/* main menu */
.main-box {height: calc(100vh - 11rem);overflow-y: auto;}
.main-box-inner {display: flex;align-items: center;min-width:120.0rem;flex-wrap: wrap;height: calc(100vh - 11.0rem);}
.main-box-inner .main-menu-wrap {width:80%;margin: 0 auto; padding: 3.0rem 0;}
.main-box-inner .mm-title-box {display: flex;justify-content: flex-start;flex-wrap: wrap;align-items: end;margin-bottom:2.6rem;}
.main-box-inner .mm-title-box > p { font-size:5.6rem; font-weight: bold; margin-right:1.4rem}
.main-box-inner .mm-title-box > div > span {display: block; line-height: 1.5; opacity: 0.8; font-weight: 400;}

.main-menu-inner {color:var(--color-text06);font-size:1.7rem;width:100%;display: flex;justify-content: space-between;}
.main-menu-item02 {width:calc(100%/6*2); margin-right:1.2rem;}
.main-menu-item01 {width:calc(100%/6); margin-right:1.2rem;}
.main-menu-item01:last-child {margin-right:0;}
.mm-unit {border-radius: 8px; text-align: center; width:100%; }
.mm-unit-s {width:calc(50% - 0.6rem); border-radius: 8px; display: flex; align-items: center; justify-content: center;}
.mm-unit-s-box:has(.mm-unit-s) {display: flex; justify-content: space-between;}

.mb-bg01 {background: var(--color-main-bg01);}
.mb-bg02 {background: var(--color-main-bg02);}
.mb-bg03 {background: var(--color-main-bg03);}
.mb-bg04 {background: var(--color-main-bg04);}
.mb-bg05 {background: var(--color-main-bg05);}

.main-menu-inner a {border-radius: 8px; display: flex; align-items: center; justify-content: center; height: 100%; flex-direction: column;}

.mm-unit:hover,
.mm-unit-s:hover {border:6px solid rgb(255 255 255 / 60%); box-sizing: border-box;}

.mm-unit a > span,
.mm-unit-s a > span {padding:0 1.2rem; text-align: center;}

.mm-unit:has([main-menu=system]) { height:49.2rem; margin-bottom:1.2rem;}
.mm-unit:has([main-menu=batch]) { height:14.0rem; margin-bottom:1.2rem;}
.mm-unit:has([main-menu=process]) { height:24.0rem; margin-bottom:1.2rem;}
.mm-unit:has([main-menu=scl]) { height:24.0rem; margin-bottom:1.2rem;}
.mm-unit-s:has([main-menu=user]) { height:14.0rem; margin-bottom:1.2rem;}
.mm-unit-s:has([main-menu=code]) { height:14.0rem; margin-bottom:1.2rem;}
.mm-unit:has([main-menu=data]) { height:24.0rem; margin-bottom:1.2rem;}
.mm-unit:has([main-menu=view]) { height:24.0rem; margin-bottom:1.2rem;}
.mm-unit:has([main-menu=noti]) {  height:14.0rem;margin-bottom:1.2rem;}
.mm-unit:has([main-menu=scada]) {  height:24.0rem; margin-bottom:1.2rem;}
.mm-unit:has([main-menu=plugin]) { height:24.0rem; margin-bottom:1.2rem;}
.mm-unit:has([main-menu=meta]) { height:14.0rem; margin-bottom:1.2rem;}
.mm-unit:has([main-menu=ems]) { height:64.4rem; margin-bottom:1.2rem;}

[main-menu=batch]:after,
[main-menu=user]:after,
[main-menu=code]:after,
[main-menu=noti]:after,
[main-menu=meta]:after {display: block; background: url(../../images/common/icon_go.svg)no-repeat center center; width:2.4rem; height:2.4rem; background-size: contain; margin-top:1.0rem;}

[main-menu=system]:before {display: block; background: url(../../images/common/main_icon01.svg)no-repeat center center; width:14.0rem; height:13.0rem; background-size: contain; margin-bottom:1.4rem;}
[main-menu=process]:before {display: block; background: url(../../images/common/main_icon02.svg)no-repeat center center; width:5.8rem; height:5.8rem; background-size: contain;margin-bottom:1.4rem;}
[main-menu=scl]:before {display: block; background: url(../../images/common/main_icon08.svg)no-repeat center center; width:12.0rem; height:6.0rem; background-size: contain;margin-bottom:1.4rem;}
[main-menu=data]:before {display: block; background: url(../../images/common/main_icon03.svg)no-repeat center center; width:8.0rem; height:6.0rem; background-size: contain;margin-bottom:1.4rem;}
[main-menu=view]:before {display: block; background: url(../../images/common/main_icon04.svg)no-repeat center center; width:5.4rem; height:5.4rem; background-size: contain;margin-bottom:1.4rem;}
[main-menu=scada]:before {display: block; background: url(../../images/common/main_icon07.svg)no-repeat center center; width:12.0rem; height:6.0rem; background-size: contain;margin-bottom:1.4rem;}
[main-menu=plugin]:before {display: block; background: url(../../images/common/main_icon05.svg)no-repeat center center; width:5.8rem; height:6.0rem; background-size: contain;margin-bottom:1.4rem;}
[main-menu=ems]:before {display: block; background: url(../../images/common/main_icon06.svg)no-repeat center center; width:10.0rem; height:10.0rem; background-size: contain;margin-bottom:1.4rem;}

/* SCL */
.c-top-wrap {background: var(--color-bg06); height:5.0rem; line-height: 5.0rem;}
.c-top-wrap .c-top-inner {padding:0 2.0rem;}
.c-top-wrap .c-top-inner > p {display: flex; align-items: center; justify-content: flex-start;}
.c-top-wrap .c-top-inner > p > span:first-child {font-weight: 600; margin-right:1.2rem}
.c-top-wrap .c-top-inner > p > span:last-child {font-size:1.4rem;}
.c-main-wrap {overflow: hidden; box-sizing: border-box;border-left:10px solid var(--color-bg06);border-bottom:10px solid var(--color-bg06);border-right:10px solid var(--color-bg06);box-sizing: border-box;height: 100%;min-height: calc(100vh - 16rem);}
.c-main-inner {}
.scl-cont-wrap {width:100%;}
.scl-cont-wrap .scl-cont-inner {display: flex; justify-content: flex-start; width:100%;}
.scl-cont-inner .c-main-left-wrap {width:29.0rem;} 
.scl-cont-inner .c-main-mid-wrap {flex-grow: 1;} 
.scl-cont-inner .c-main-right-wrap {width:37.0rem;} 

.c-main-top-wrap {background: var(--color-bg03); box-sizing: border-box; border-bottom:1px solid var(--border05);}
.c-main-top-inner {border:2px solid var(--color-bg03); position: relative;}

.btn-display {position: absolute; top:0.1rem; right:0.1rem; background: url(../../images/common/arrow_up_w.svg)no-repeat center center; width:2.4rem; height:2.4rem; background-size: contain; opacity: 0.8;}
.btn-display-none { background: url(../../images/common/arrow_down_w.svg)no-repeat center center !important;  background-size: contain !important;}
.btn-display:hover,
.btn-display-none:hover {opacity: 1;} 

/* tool-bar */
.tool-menu-wrap {height:4.0rem; background: var(--color-bg05);}
.tool-menu-wrap.swiper {overflow: unset;}
.tool-menu-inner > div {padding:0; display: flex;justify-content: flex-start; align-items: center; position: relative; width:calc(100% - 3.0rem); margin:0 auto; min-width:13.2rem;}
.tool-item {display: flex; justify-content: flex-start; align-items: center; margin-right:1.2rem;}

.tool-icon {display: flex; align-items: center; justify-content: center; border-radius: 4px; border: 1px solid transparent;box-sizing: border-box; height: 2.6rem;width: 2.6rem; margin-right:0.1rem;}
.tool-icon.on,
.tool-icon:hover {border:1px solid var(--border07); background: var(--color-hover-bg03);}

.tool-icon:before {display: block;width:1.6rem;height:1.6rem;margin: 0;}

.tool-txt button:disabled {opacity: 0.5;}
.tool-txt button:disabled + span {color:var(--color-text02);}

.tool-txt .tool-icon {width:auto; padding:0 0.6rem;}
.tool-txt .tool-icon > span {display: block; margin-left:0.6rem; font-size:1.3rem; color:var(--color-text05);}
.tool-txt .tool-icon:hover > span {color:var(--color-text09)}

[tool-icon=tool-save]:before {background: url(../../images/toolbar/file_save.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-undo]:before {background: url(../../images/toolbar/edit_undo.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-redo]:before {background: url(../../images/toolbar/edit_redo.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-paste]:before {background: url(../../images/toolbar/edit_paste.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-cut]:before {background: url(../../images/toolbar/edit_cut.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-copy]:before {background: url(../../images/toolbar/edit_copy.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-delete]:before {background: url(../../images/toolbar/edit_delete.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-pointer]:before {background: url(../../images/toolbar/tool_pointer.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-textbox]:before {background: url(../../images/toolbar/tool_textbox.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-pencil]:before {background: url(../../images/toolbar/tool_pencil.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-path]:before {background: url(../../images/toolbar/tool_path.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-connector]:before {background: url(../../images/toolbar/tool_connector.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-group]:before {background: url(../../images/toolbar/layout_group.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-ungroup]:before {background: url(../../images/toolbar/layout_ungroup.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-bring-forward]:before {background: url(../../images/toolbar/layout_bring_forward.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-bring-front]:before {background: url(../../images/toolbar/layout_bring_front.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-send-backward]:before {background: url(../../images/toolbar/layout_send_backward.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-send-back]:before {background: url(../../images/toolbar/layout_send_back.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-halign-left]:before {background: url(../../images/toolbar/layout_halign_left.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-halign-center]:before {background: url(../../images/toolbar/layout_halign_center.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-halign-right]:before {background: url(../../images/toolbar/layout_halign_right.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-valign-top]:before {background: url(../../images/toolbar/layout_valign_top.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-valign-middle]:before {background: url(../../images/toolbar/layout_valign_middle.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-valign-bottom]:before {background: url(../../images/toolbar/layout_valign_bottom.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-export-image]:before {background: url(../../images/toolbar/export_image.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-cn-ac]:before {background: url(../../images/toolbar/tool_connection_cn_ac.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-cn-dc]:before {background: url(../../images/toolbar/tool_connection_cn_dc.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-lin-ac]:before {background: url(../../images/toolbar/tool_connection_lin_ac.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-lin-dc]:before {background: url(../../images/toolbar/tool_connection_lin_dc.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-epip-w]:before {background: url(../../images/toolbar/tool_connection_epip_w.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-epip-g]:before {background: url(../../images/toolbar/tool_connection_epip_g.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-epip-t]:before {background: url(../../images/toolbar/tool_connection_epip_t.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-error-check]:before {background: url(../../images/toolbar/tool_error_check.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-file-open]:before {background: url(../../images/toolbar/file_open.png)no-repeat center center; background-size:contain;}

[tool-icon=tool-bg-color]:before {background: url(../../images/toolbar/tool_bg_color.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-grid-show]:before {background: url(../../images/toolbar/prop_grid_show.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-grid-color]:before {background: url(../../images/toolbar/prop_grid_show.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-zoom-fit]:before {background: url(../../images/toolbar/prop_zoom_to_fit.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-snap-grid]:before {background: url(../../images/toolbar/prop_snap_grid.png)no-repeat center center; background-size:contain;}
[tool-icon=tool-view]:before {background: url(../../images/toolbar/prop_view.png)no-repeat center center; background-size:contain;}

.btn-box {position: relative;}
.btn-box .tool-txt .tool-icon:after {display: block; margin-left:0.6rem; background: url(../../images/common/arrow_more.svg)no-repeat center center; width:1.0rem; height: 1.0rem; background-size: contain;}
.btn-box .tool-more {display: none;}
.btn-box .tool-more.on {color:var(--color-text06); width:100%; min-width: 16.0rem;display: block;position: absolute;top:2.8rem;left:0;background: var(--color-bg04);border-radius: 4px;padding: 0.8rem 0.4rem;}
.btn-box .tool-more .tool-icon {width:calc(100%); padding:0 1.2rem; justify-content: flex-start;}
.btn-box .tool-more .tool-icon > span { font-size:1.3rem; color:var(--color-text05); display: block; margin-left:0.6rem;}
.btn-box .tool-more .tool-icon:hover {border:1px solid transparent; background: var(--color-bg01);}

.tool-number,
.tool-check,
.tool-select {display: flex;align-items: center;flex-wrap: wrap;font-size:1.3rem;padding: 0 0.8rem;}
.btn-box .tool-number,
.btn-box .tool-check,
.btn-box .tool-select {margin-bottom: 0.6rem;}

.btn-box .tool-number:last-child,
.btn-box .tool-check:last-child,
.btn-box .tool-select:last-child {margin-bottom: 0;}

.tool-item label {color:var(--color-text06); opacity: 0.8;}

.tool-number > input {font-size:1.3rem; height: 2.6rem; width:8.0rem;}
.tool-select > select {font-size:1.3rem; height: 2.6rem !important;}
.tool-check > input {height: 1.8rem; width:1.8rem; accent-color:var(--color-bg06) !important;}
.tool-number > label,
.tool-select > label {margin-right:0.6rem;}
.tool-check > label {margin-left: 0.8rem;}

.btn-box .tool-more:has(.tool-more-flex) {width:37.0rem !important;}
.tool-more-flex {display: flex !important; align-items: center; justify-content: center; }
.tool-more-flex > div {width: auto; padding:0 !important; margin:0 1.2rem 0 0!important;}
.tool-more-flex > div:last-child {margin-right:0 !important;}
.tool-more-flex .tool-more.on {top:3.4rem;}
.tool-more-flex .tool-icon.on {background: var(--color-bg03) !important; border:none !important;}

.empty-area {font-size:1.3rem; text-align: center;}


/* tab */
.tab-c-item {display: none;} 

.tab-head-type01 {margin:0;}
.tab-head-type01 > .tab-h-list {display: flex;align-items: center;width: 100%;border-bottom: 1px solid #c8c8c8;}
.tab-head-type01 > .tab-h-list li {border-radius: 0; margin:0; text-align: center;}
.tab-head-type01 > .tab-h-list li.tab-h-on {z-index: 9;}
.tab-head-type01 > .tab-h-list li a {letter-spacing: -0.5px; color:#666666; font-size: 1.5rem;position:relative;box-sizing: border-box; padding: 0 0.6rem 1.6rem 0.6rem; display: block; } 
.tab-head-type01 > .tab-h-list li.tab-h-on a {position:relative; font-weight: 600; color:#222222;}
.tab-head-type01 > .tab-h-list li a:hover {transition: all ease 0.1s 0s; font-weight: 600; color:#222222;}
.tab-head-type01 > .tab-h-list li.tab-h-on a:after,
.tab-head-type01 > .tab-h-list li a:hover:after {display: block;width:100%;height: 0.3rem;background: #000000;position: absolute;bottom: -0.2rem; left:0;}

.tab-head-type02 {margin:0;}
.tab-head-type02 > .tab-h-list {display: flex;align-items: center;width: 100%;}
.tab-head-type02 > .tab-h-list li {border-radius: 0; margin:0; text-align: center;}
.tab-head-type02 > .tab-h-list li.tab-h-on {z-index: 9;}
.tab-head-type02 > .tab-h-list li a {color:var(--color-text05); font-size: 1.3rem;position:relative;box-sizing: border-box; padding:0 1.6rem; display: block; height:2.8rem; line-height: 2.6rem; } 
.tab-head-type02 > .tab-h-list li.tab-h-on a {position:relative; background: var(--color-bg05); color:var(--color-text06);}
.tab-head-type02 > .tab-h-list li a:hover {transition: all ease 0.1s 0s; background: var(--color-bg05);color:var(--color-text06);}


/* layer popup */
.layer-pop {display:none; transition: all ease 0.2s 0s;}
.layer-pop.on {display: flex; position: fixed; top:0; left:0; right:0; bottom:0; z-index: 10000;}
.layer-pop-bg {padding: 0;min-height: calc(100vh - 48px);align-items: center;display: flex;justify-content: center;background:rgba(0,0,0,.8);width: 100%;flex-wrap: wrap;overflow-y: auto;flex-direction: row;}
.layer-pop-inner {z-index:10001;background: #ffffff;border-radius: 10px 10px 8px 8px;position: relative;}
.layer-pop-close {position: absolute; top: 18px; right: 16px; background:url(../../images/common/icon_close_b.svg) no-repeat center center; background-size: contain; width: 3.6rem; height: 3.6rem; color:transparent;}
.layer-pop-inner .kgrid-pop-wrap {padding: 0 0 3.0rem 0;}
.layer-pop-inner .h3-tit {font-size:1.8rem;font-weight: 500;padding-bottom:1.6rem;background: #065bc3;padding: 2.0rem 3.0rem;color: #ffffff;border-radius: 8px 8px 0 0;}
.layer-pop-inner .h4-tit {font-size:1.7rem;font-weight: 600;padding: 0 0 1.4rem 0; border-bottom:1px solid #c8c8c8;}
.layer-pop-inner .lp-cont-wrap {padding: 0 3.0rem; margin:2.6rem 0;}
.layer-pop-inner .lp-cont-inner {margin: 1.6rem 0 0 0;padding: 0; min-height: 14rem;}
.layer-pop-inner input[type=text],
.layer-pop-inner input[type=number] {padding:0.2rem 0.8rem; font-size:1.4rem; width:100%; height: 3.4rem;}
.layer-pop-inner select {max-width: 100%; font-size:1.4rem; height: 3.4rem; width:100%;}
.layer-pop-inner .lp-input-item {width:100%; display: flex; align-items: center; margin-bottom:1.2rem;font-size:1.4rem;}
.layer-pop-inner .lp-input-item:last-child {margin-bottom:0;}
.layer-pop-inner .lp-input-item label {width:12.0rem;font-weight: 500;position: relative;padding: 0 0 0 1.0rem;}
.layer-pop-inner .lp-input-item label:before {display: block;position: absolute;left:0;top: calc(50% - 0.2rem);width: 0.4rem;height: 0.4rem;background: #aaaaaa;border-radius: 4px;}
.layer-pop-inner .lp-input-item > div {width:calc(100% - 12.8rem);}
.layer-pop-inner .select-wrap {margin:0; width: calc(100% - 3.2rem);}
.layer-pop-inner input[type=checkbox] + .select-wrap {margin-left:1.2rem;width: calc(100% - 3.2rem);}
.layer-pop-inner .btn-wrap  {border-top:1px solid #c8c8c8; padding:1.8rem 0 0 0; width: calc(100% - 6rem); margin: 0 auto;}
.layer-pop-inner .btn-wrap > button {font-weight: normal !important; margin: 0 0.3rem;}
#project-create .layer-pop-inner {width:60.0rem; /* max-height: 90vh; */animation: fadeInDown 0.4s;}
#system-preference .layer-pop-inner {width:50.0rem; /* max-height: 90vh; */ animation: fadeInDown 0.4s;}

@keyframes fadeInDown {
    0% {
        opacity: 1;
        transform: translate3d(0, -50%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@-moz-keyframes fadeInDown { /* Firefox */
    0% {
        opacity: 1;
        transform: translate3d(0, -50%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@-webkit-keyframes fadeInDown { /* Safari and Chrome */
    0% {
        opacity: 1;
        transform: translate3d(0, -50%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@-o-keyframes fadeInDown { /* Opera */
    0% {
        opacity: 1;
        transform: translate3d(0, -50%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}


@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@-moz-keyframes fadeInLeft { /* Firefox */
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 0;
        transform: translateZ(0);
    }
}
@-webkit-keyframes fadeInLeft { /* Safari and Chrome */
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@-o-keyframes fadeInLeft { /* Opera */
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}


@media (max-width: 1780px){ 
    .main-menu-wrap {width:90% !important;}
    .utill-wrap .utill-welcome > span:last-child {display: none;}
}
@media (max-width: 1550px){ 
    .header-menu-inner > div {width: 1550px !important; margin: 0 1.7rem;}
    .tool-menu-inner > div {width:1280px !important; margin: 0 1.5rem 0;}
}
@media (max-width: 1480px){ 
    .login-input-wrap {width:50.0rem;}
    .project-list-wrap {width:49.6rem;}
    .projcet-item > a {width:49.6rem;}
    .info-paths {width:28.0rem;}
}
@media (max-width: 1280px){   
    #default-wrap{width:1280px;}
    .login-input {width:44.0rem;}
    .project-list-wrap {width:43.6rem;}
    .project-list {height:23.0rem;}
    .projcet-item > a {width:43.6rem; padding: 0.8rem 0;}    
}

@media (max-height: 680px){   
    .default-inner .left-area-inner .logo-title:after {display: none;}
    .lp-cont-inner {height: 34vh; overflow-y: auto; padding: 0 0.8rem 0 0 !important;}
}


