@charset "utf-8";

:root {
    --color-black:#000000;
    --color-darkGray:#444444;
    --color-gray:#777777;
    --color-lightGray:#999999;
    --color-white:#ffffff;
    --color-bg01:#1A1C23;
    --color-bg02:#1B1E24;
    --color-bg03:#1C1E22;
    --color-bg04:#21242F;
    --color-bg05:#282D39;
    --color-bg06:#363E4D;
    --color-bg07:#EFF1FE;
    --color-hover-bg01:#1A1C23;
    --color-hover-bg02:#00254B;
    --color-hover-bg03:#00479A;
    --color-text01: #111827;
    --color-text02: #797F89;
    --color-text03: #9092A0;
    --color-text04: #A2A2A2; 
    --color-text05: #D2DAE5;
    --color-text06: #E5EBF5;  
    --color-text07: #3C9DFF;  
    --color-point01: #1664C1;
    --color-point02: #FF8A8A;    
    --color-status01: #03D017;
    --color-status02: #D0AF03;
    --color-status03: #F13131;
    --color-status04: #0C79F9;    

    --color-gradient01: linear-gradient(135deg, #175ABC 0%, #6F6BE7 51%, #175ABC 100%);

    --color-btn-bg01: #0065DE;
    --color-btn-bg02: #2860E1;
    --color-btn-bg03: #33384A;
    --color-input-bg01: #1C1E22;
    --color-select-bg01: #1C1E22;
    --color-select-bg02: #33384A;

    --border01: #191C25;
    --border02: #2B2F3B;
    --border03: #33394B;
    --border04: #3A4155;
    --border05: #3F465F;
    --border06: #2792FE;
    --border07: #0A84FF;
    --scroll-bg01: #121213;
    --scroll-bg02: #5B6171;

    --color-main-bg01:#007FFF; 
    --color-main-bg02:#00B2FF;
    --color-main-bg03:#296EF4;
    --color-main-bg04:#0049B7;
    --color-main-bg05:#483CD7;

    --btn-outlink: url(/img/common/btn-outlink.svg);
  }

[data-theme='dark'] {
    --background-color: #000;
    --color: #fff;
  }


/* 스크롤바 설정*/
.scroll::-webkit-scrollbar{width:8px; height:8px;}
/* 스크롤바 막대 설정*/
.scroll::-webkit-scrollbar-thumb{height:20%; background-color: var(--scroll-bg02); border-radius: 10px;}
/* 스크롤바 뒷 배경 설정*/
.scroll::-webkit-scrollbar-track{background-color:var(--scroll-bg01);}

/* 스크롤바 설정*/
.b-scroll::-webkit-scrollbar{width:12px; height:12px;}
/* 스크롤바 막대 설정*/
.b-scroll::-webkit-scrollbar-thumb{height:20%; background-color: #999999; border-radius: 10px;}
/* 스크롤바 뒷 배경 설정*/
.b-scroll::-webkit-scrollbar-track{background-color:#eeeeee;}

/* text */
.fc-blue {color:var(--font-blue);}
.fc-red {color:var(--font-red);}

/* button */
.btn {min-width:80px; border: none !important; font-weight: 500; color: var(--color-btn-bg03); text-align: center;  display: inline-block; box-sizing: border-box; font-size:1.4rem; margin-right:0.6rem;}
.btn:hover { transition: all ease 0.2s 0s;}

.btn-down {color:#ffffff; padding:0 1.6rem; border-radius: 4px; display: flex; justify-content:center; align-items: center; box-sizing: border-box;border: 1px solid #265ABF !important; background: #265ABF;}
.btn-down::before {content:''; display: inline-block; background: url(../../images/gbox/icon_down_w.svg) no-repeat center center; background-size:contain; width:1.2rem; height:1.2rem; padding:0; margin:0 0.8rem 0 0;}
.btn-down:hover {background: #1346a9; border: 1px solid #1346a9 !important;  color:#ffffff;}

.btn-blue {background: #223b8f; color: #ffffff; border: 1px solid #223b8f !important;}
.btn-blue:hover {background: #263565; border: 1px solid #263565 !important;}

.btn-blue-gray {background: #6E7587; color: #ffffff; border: 1px solid #6E7587 !important;}
.btn-blue-gray:hover {background: #515B73; border: 1px solid #515B73 !important;}

.btn-black {border: 1px solid #5a5f67 !important; color: #ffffff; display: inline-block; background: #5a5f67;}
.btn-black:hover {background: #2F3238; border: 1px solid #2F3238 !important;}

.btn-line-blue {color: #223b8f; display: inline-block; border: 1px solid #223b8f !important; background: #ffffff;}
.btn-line-blue:hover {background: #F8FAFD; color: #263565; border: 1px solid #263565 !important; }

.btn-line-gray {color: #2F3748; display: inline-block; border: 1px solid #AAAFB5 !important; background: #ffffff;}
.btn-line-gray:hover { background: #fafafa; border: 1px solid #43464C !important; color:#111827;}

.btn-text {color: #223b8f; display: inline-block; background: none !important; padding: 0 !important; min-width: auto !important}
.btn-text:hover {color: #263565;}

.btn-gradation { background: transparent var(--color-gradient01); color: #ffffff; cursor: pointer; background-size: 200% auto;}
.btn-gradation:hover {background-position: right center; transition: all .2s;}

.btn-upload {margin:0; color: #1664C1; display: inline-block; border: 1px solid #1664C1 !important; background: #F0F7FF; padding:0 2.8rem; font-size:1.4rem;}
.btn-upload:hover {background: #F0F7FF; border: 1px solid #1664C1 !important; color:#1664C1; box-shadow: 0px 2px 10px rgb(4 22 55 / 10%);}

.btn-disabled {color: #ffffff; display: inline-block; border: 1px solid #d0d0d0 !important; background: #d0d0d0; cursor: default;}

.btn-close {position: absolute; right:1.0rem; top:0.6rem;}
.btn-close:before {display: block;background: url(../../images/gbox/icon_close.svg) no-repeat center top; background-size:contain; width:2.2rem; height:2.2rem;}

.btn-group {display: flex; justify-content: flex-start; align-items: center;}

/* login */
#login-wrap {width:100%;}
.login-inner {display: flex; justify-content: space-between; align-items: center;}
.login-inner > div {height: calc(100vh - 4.0rem);min-height: 54rem;}
.login-inner .left-area {padding: 2.0rem 0 2.0rem 2.0rem;width: calc(50% - 2.0rem);}
.login-inner .left-area-inner {background: var(--color-bg07);border-radius: 12px;height:100%;background-size: cover;display: flex;align-items: center;/* width: 100%; */justify-content: center;}
.login-inner .right-area {padding: 2.0rem 0;position: relative;width:50%;}
.login-inner .right-area-inner {/* position:relative; */height: 100%;display: flex;justify-content: center;align-items: center;width: calc(100% - 4.0rem);margin: 0 auto;}

.logo-title {text-align: center;width: 100%;}
.logo-title .login-logo img {width:35.0rem;height:10.0rem;object-fit: contain;margin:1.6rem 0;}
.logo-title span {display:block;}
.logo-title span {font-size:1.6rem; color:var(--color-text03);}
.logo-title span:last-child::before {display: block; width:2.4rem; height:0.2rem; background: #9092A0; margin:0.8rem auto;}
.logo-title:after {display: block;background: url(../../images/login/login_bg.png) no-repeat center top;margin:0 auto;width:100%;height: 40vh;background-size: contain;}

.login-title {text-align: center; margin-bottom:5.0rem;}
.login-title > h2 {font-size:4.8rem; font-weight: bold; display: block; margin-bottom:2.2rem}
.login-title > span {color:var(--color-lightGray);}
.login-input {width: 48rem;margin:0 auto;}
.login-input input {width:100%;}
.input-box {margin-bottom:2.0rem; position:relative;}
.input-box:nth-child(2) {margin-bottom: 0;}
.login-input .id-input,
.login-input .pw-input {height: 5.2rem; padding: 0 0 0 4.0rem; border-bottom: 1px solid #C0C0C0;border-right: transparent;border-left: transparent;border-top: transparent;border-radius: 0;}
.login-input .id-input:focus,
.login-input .pw-input:focus {box-shadow:0 0 0 0 transparent;  height: 5.2rem; background-color:#ffffff; box-sizing: border-box;}
.input-box:has(input):after {display:block; position: absolute;  width:0%; height: 2px; bottom: 0; left: 50%; transform: translateX(-50%);  background: #0065DE; transition: ease .2s;}
.input-box:has(input:focus):after {width: 100%;}
.input-box:has(input):before {display: block; z-index: 1; position: absolute; top:calc(50% - 1.4rem); left:0.4rem; width:2.8rem; height:2.8rem;}
.input-box:has(.id-input):before {background: url(../../images/login/icon_user.svg)no-repeat center center;}
.input-box:has(.pw-input):before {background: url(../../images/login/icon_pw.svg)no-repeat center center; }
.input-box:has(.id-input:focus):before {background: url(../../images/login/icon_user_ov.svg)no-repeat center center;}
.input-box:has(.pw-input:focus):before {background: url(../../images/login/icon_pw_ov.svg)no-repeat center center; }

.login-input .login-btn {font-size:1.7rem;border-radius: 8px;height: 6.0rem;box-shadow: 0px 4px 8px rgb(47 60 85 / 20%);background:#0065DE;color:var(--color-white);margin-top: 4.4rem;}
.login-input .login-btn:hover { box-shadow: none; background:#065bc3; transition: all .2s;}
.kdn-logo {text-align: center;margin-top: 5rem;}
.kdn-logo img {width:14.0rem; object-fit: contain;}
.btn-setting {background: url(../../images/common/icon_setting.svg) no-repeat center center;width:2.0rem;height:2.0rem;position:absolute;top: 2.0rem;right: 2.0rem;opacity: 0.6;background-size: contain;}
.btn-setting:hover {opacity: 1;}
.login-footer {position: absolute;bottom: 2.0rem;width: 100%;text-align: center;font-size: 1.3rem;color: var(--color-gray);}


/* file image */
[data-type=back]:before {background: url(../../images/gbox/file_type_back.svg) no-repeat center center; background-size: contain;}

/* gbox */
#wrap {width:100%;}
#header {height:50px; z-index:11; position: absolute; top:0; left:0; width: 100%; background: #2A2E3F; min-width:840px;}
.header-inner {padding:0; display: flex;justify-content: space-between; align-items: center; height:50px; position: relative; width:calc(100% - 6.0rem); margin:0 auto;}

#main {margin-top:50px;}
#gbox-wrap {display: flex; justify-content: space-between; min-height: calc(100vh - 50px); height: 100%;}
#left-wrap {z-index: 1;}

.nav-wrap {width:100%; height:100%; flex-grow:1;}
.nav-list {margin-top:1.0rem;flex-grow: 1;}


@keyframes fadeInDown {
    0% {
        opacity: 1;
        transform: translate3d(0, -50%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@-moz-keyframes fadeInDown { /* Firefox */
    0% {
        opacity: 1;
        transform: translate3d(0, -50%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@-webkit-keyframes fadeInDown { /* Safari and Chrome */
    0% {
        opacity: 1;
        transform: translate3d(0, -50%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@-o-keyframes fadeInDown { /* Opera */
    0% {
        opacity: 1;
        transform: translate3d(0, -50%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}



@media (max-width: 1280px){   
    #login-wrap {width:1280px;}
}

@media (max-height: 680px){   
    .logo-title:after {display: none;}
}
