@charset "utf-8";

:root {
    --color-black:#000000;
    --color-darkGray:#444444;
    --color-gray:#777777;
    --color-lightGray:#999999;
    --color-white:#ffffff;
    --color-bg01:#1A1C23;
    --color-bg02:#1B1E24;
    --color-bg03:#1C1E22;
    --color-bg04:#21242F;
    --color-bg05:#282D39;
    --color-bg06:#363E4D;
    --color-bg07:#EFF1FE;
    --color-hover-bg01:#1A1C23;
    --color-hover-bg02:#00254B;
    --color-hover-bg03:#00479A;
    --color-text01: #111827;
    --color-text02: #797F89;
    --color-text03: #9092A0;
    --color-text04: #A2A2A2; 
    --color-text05: #D2DAE5;
    --color-text06: #E5EBF5;  
    --color-text07: #3C9DFF;  
    --color-point01: #1664C1;
    --color-point02: #FF8A8A;    
    --color-status01: #03D017;
    --color-status02: #D0AF03;
    --color-status03: #F13131;
    --color-status04: #0C79F9;    

    --color-gradient01: linear-gradient(135deg, #0A84FF 0%, #6951FF 51%, #0A84FF 100%);

    --color-btn-bg01: #0065DE;
    --color-btn-bg02: #2860E1;
    --color-btn-bg03: #33384A;
    --color-input-bg01: #1C1E22;
    --color-select-bg01: #1C1E22;
    --color-select-bg02: #33384A;

    --border00: #000000;
    --border01: #191C25;
    --border02: #2B2F3B;
    --border03: #33394B;
    --border04: #3A4155;
    --border05: #3F465F;
    --border06: #2792FE;
    --border07: #0A84FF;
    --scroll-bg01: #121213;
    --scroll-bg02: #5B6171;

    --color-main-bg01:#007FFF; 
    --color-main-bg02:#00B2FF;
    --color-main-bg03:#296EF4;
    --color-main-bg04:#0049B7;
    --color-main-bg05:#483CD7;

    --btn-outlink: url(/img/common/btn-outlink.svg);
  }

[data-theme='dark'] {
    --background-color: #000;
    --color: #fff;
  }


/* 스크롤바 설정*/
.scroll::-webkit-scrollbar{width:8px; height:8px;}
/* 스크롤바 막대 설정*/
.scroll::-webkit-scrollbar-thumb{height:20%; background-color: var(--scroll-bg02); border-radius: 10px;}
/* 스크롤바 뒷 배경 설정*/
.scroll::-webkit-scrollbar-track{background-color:var(--scroll-bg01);}

/* 스크롤바 설정*/
.b-scroll::-webkit-scrollbar{width:12px; height:12px;}
/* 스크롤바 막대 설정*/
.b-scroll::-webkit-scrollbar-thumb{height:20%; background-color: #999999; border-radius: 10px;}
/* 스크롤바 뒷 배경 설정*/
.b-scroll::-webkit-scrollbar-track{background-color:#eeeeee;}

/* text */
.fc-blue {color:var(--font-blue);}
.fc-red {color:var(--font-red);}

/*select */
.select-type01 {width:14.0rem; padding: 0 3.6rem 0 1.2rem; font-size:1.3rem; border:1px solid var(--border05); background-color: var(--color-select-bg02); height:3.4rem; box-sizing: border-box;}
.select-type01:focus {border:1px solid var(--border06);}

/* button */
.btn {min-width:8.0rem; border-radius: 4px; font-size:1.3rem; border: none !important; color: var(--color-text05); text-align: center;  display: inline-block; box-sizing: border-box; margin-right:0.6rem;}
.btn:hover { transition: all ease 0.2s 0s;}

.btn-type01 {background: var(--color-select-bg02); padding:0 1.2rem; color: var(--color-text05);  border: 1px solid var(--border01) !important; height:3.4rem; line-height: 3.4rem; }
.btn-type01:hover {background: var(--color-bg01); border:1px solid var(--border06) !important;}

.btn-down {color:#ffffff; padding:0 1.6rem; border-radius: 4px; display: flex; justify-content:center; align-items: center; box-sizing: border-box;border: 1px solid #265ABF !important; background: #265ABF;}
.btn-down::before {content:''; display: inline-block; background: url(../../images/gbox/icon_down_w.svg) no-repeat center center; background-size:contain; width:1.2rem; height:1.2rem; padding:0; margin:0 0.8rem 0 0;}
.btn-down:hover {background: #1346a9; border: 1px solid #1346a9 !important;  color:#ffffff;}

.btn-gradation { background: transparent var(--color-gradient01); color: #ffffff; cursor: pointer; background-size: 200% auto;}
.btn-gradation:hover {background-position: right center; transition: all .2s;}

.btn-upload {margin:0; color: #1664C1; display: inline-block; border: 1px solid #1664C1 !important; background: #F0F7FF; padding:0 2.8rem; font-size:1.4rem;}
.btn-upload:hover {background: #F0F7FF; border: 1px solid #1664C1 !important; color:#1664C1; box-shadow: 0px 2px 10px rgb(4 22 55 / 10%);}

.btn-disabled {color: #ffffff; display: inline-block; border: 1px solid #d0d0d0 !important; background: #d0d0d0; cursor: default;}

.btn-close {position: absolute; right:1.0rem; top:0.6rem;}
.btn-close:before {display: block;background: url(../../images/gbox/icon_close.svg) no-repeat center top; background-size:contain; width:2.2rem; height:2.2rem;}


/* login */
#login-wrap {width:100%;}
.login-inner {display: flex; justify-content: space-between; align-items: center;}
.login-inner > div {height: calc(100vh - 6.0rem);min-height: 54rem;}
.login-inner .left-area {padding: 3.0rem 0 3.0rem 3.0rem;width: calc(50% - 3.0rem);}
.login-inner .left-area-inner {background: var(--color-bg07);border-radius: 12px;height:100%;background-size: cover;display: flex;align-items: center; justify-content: center;}
.login-inner .right-area {padding: 3.0rem 0;position: relative;width:50%;}
.login-inner .right-area-inner {height: 100%;display: flex;justify-content: center;align-items: center;width: calc(100% - 6.0rem);margin: 0 auto;}

.logo-title {text-align: center;width: 100%;}
.logo-title .login-logo img {width:35.0rem;height:10.0rem;object-fit: contain;margin:1.6rem 0;}
.logo-title span {display:block;}
.logo-title span {font-size:1.6rem; color:var(--color-text03);}
.logo-title span:last-child::before {display: block; width:2.4rem; height:0.2rem; background: #9092A0; margin:0.8rem auto;}
.logo-title:after {display: block;background: url(../../images/login/login_bg.png) no-repeat center center;margin:0 auto;width:100%;height: 40vh;background-size: contain;}

.login-title {text-align: center; margin-bottom:5.0rem;}
.login-title > h2 {font-size:4.8rem; font-weight: bold; display: block; margin-bottom:2.2rem}
.login-title > span {color:var(--color-lightGray);}
.login-input {width: 44rem;margin:0 auto;}
.login-input input {width:100%;}
.input-box {margin-bottom:2.0rem; position:relative;}
.input-box:nth-child(2) {margin-bottom: 0;}
.login-input .id-input,
.login-input .pw-input {height: 5.2rem; padding: 0 0 0 4.0rem; border-bottom: 1px solid #C0C0C0;border-right: transparent;border-left: transparent;border-top: transparent;border-radius: 0;}
.login-input .id-input:focus,
.login-input .pw-input:focus {box-shadow:0 0 0 0 transparent;  height: 5.2rem; background-color:#ffffff; box-sizing: border-box;}
.input-box:has(input):after {display:block; position: absolute;  width:0%; height: 2px; bottom: 0; left: 50%; transform: translateX(-50%);  background: #0065DE; transition: ease .2s;}
.input-box:has(input:focus):after {width: 100%;}
.input-box:has(input):before {display: block; z-index: 1; position: absolute; top:calc(50% - 1.4rem); left:0.4rem; width:2.8rem; height:2.8rem;}
.input-box:has(.id-input):before {background: url(../../images/login/icon_user.svg)no-repeat center center;}
.input-box:has(.pw-input):before {background: url(../../images/login/icon_pw.svg)no-repeat center center; }
.input-box:has(.id-input:focus):before {background: url(../../images/login/icon_user_ov.svg)no-repeat center center;}
.input-box:has(.pw-input:focus):before {background: url(../../images/login/icon_pw_ov.svg)no-repeat center center; }

.login-input .login-btn {font-size:1.7rem;border-radius: 8px;height: 6.0rem; font-weight: 500; box-shadow: 0px 4px 8px rgb(47 60 85 / 20%);background:#0065DE;color:var(--color-white);margin-top: 4.4rem;}
.login-input .login-btn:hover { box-shadow: none; background:#065bc3; transition: all .2s;}
.kdn-logo {text-align: center;margin-top: 5rem;}
.kdn-logo img {width:14.0rem; object-fit: contain;}
.btn-setting {background: url(../../images/common/icon_setting.svg) no-repeat center center;width:2.0rem;height:2.0rem;position:absolute;top: 3.0rem;right: 3.0rem;opacity: 0.4;background-size: contain;}
.btn-setting:hover {opacity: 1;}
.login-footer {position: absolute;bottom: 4.0rem;width: 100%;text-align: center;font-size: 1.3rem;color: var(--color-gray);}



/* layout */

#wrap {width:100%; color:var(--color-text06); position: relative;}
#header {height:6.0rem; z-index:11; position: absolute; top:0; left:0; width: 100%; background: var(--color-bg04); min-width:840px;}
#header:after {display: block; width:100%; height:0.1rem; background: var(--border00);}
.header-inner {padding:0; display: flex;justify-content: space-between; align-items: center; height:6.0rem; position: relative; width:calc(100% - 3.4rem); margin:0 auto;}
.header-item {display: flex; justify-content: flex-start; align-items: center;}

.logo-img {background: #000000; border-radius: 4px; color: var(--border07); font-size:1.3rem; padding:0.8rem 2.4rem; margin-right:1.2rem;}
.program-name {font-weight: 600; font-size:1.5rem; display: flex; align-items: center; flex-wrap: wrap; padding-bottom:0.1rem;}
.program-name > span {color:var(--color-text06); min-width: 10.0rem; margin-left:0.3rem; font-weight: normal; padding-bottom:0.1rem;}

.header-item .all-menu {margin-right:1.2rem;}
.info-list {margin-right:1.2rem;}
.info-list > span {font-size:1.3rem;}
.top-icon {background:var(--color-bg01);width:3.4rem;height:3.4rem; margin-right:0.4rem; border-radius: 4px;border: 1px solid transparent;text-align: center;display: flex;align-items: center;justify-content: center;}
.top-icon:last-child {margin-right:0;}
.top-icon:hover {border:1px solid var(--border07); box-sizing: border-box; transition: all .2s;}
.top-icon:after {display: block; width:2.0rem; height:2.0rem; opacity: 0.85; }
.top-icon:hover:after {opacity: 1;}
[menu-icon=top01]:after {background: url(../../images/common/top_icon01.svg)no-repeat center center; background-size:contain;}
[menu-icon=top02]:after {background: url(../../images/common/top_icon02.svg)no-repeat center center; background-size:contain;}
[menu-icon=top03]:after {background: url(../../images/common/top_icon03.svg)no-repeat center center; background-size:contain;}
[menu-icon=top04]:after {background: url(../../images/common/top_icon04.svg)no-repeat center center; background-size:contain;}
[menu-icon=top05]:after {background: url(../../images/common/top_icon05.svg)no-repeat center center; background-size:contain;}

.info-list {display: flex; align-items: center;}
.info-list > span {color:var(--color-text05); margin-right:1.4rem; opacity: 0.8rem;}
.info-list > span:last-child {margin-right: 0;}
.info-ip {display: flex; align-items: center;}
.info-ip:before {display: block; width:1.2rem; height:1.2rem; border-radius: 50%; margin-right:0.6rem}
.info-ip.nw-good:before {background: var(--color-status01);}
.info-ip.nw-caution:before {background: var(--color-status02);}
.info-ip.nw-bad:before {background: var(--color-status03);}

.info-paths {color:var(--color-text03) !important; width:34.0rem; min-width:2.6rem;}

.top-right {display: flex; align-items: center; flex-wrap: wrap;}
.utill-wrap {font-size:1.3rem; display: flex; align-items: center; flex-wrap: wrap; margin-left:1.8rem;}
.utill-wrap .utill-welcome {color:var(--color-text04); display: flex; align-items: center; margin-right:1.2rem;}
.utill-wrap .utill-welcome:before {display: block; background: url(../../images/common/icon_user_w.svg) no-repeat center center; width:1.3em; height:1.3rem; background-size: contain; opacity: 0.6; margin-right:0.8rem;}
.utill-wrap .utill-welcome > span {color:var(--color-text06); font-weight: 500;}
.utill-wrap .utill-setting {background: url(../../images/common/icon_setting_w.svg)no-repeat center center; width:1.6rem; height:1.6rem; opacity: 0.6; background-size: contain;}
.utill-wrap .utill-setting:hover {opacity: 1;}

#main {padding-top:6.1rem;}
#main-wrap {display: flex; justify-content: space-between; min-height: calc(100vh - 6.1rem);}

#left-nav {z-index: 1;background: var(--color-bg04);min-height: calc(100vh - 6.1rem); position: relative;padding-right: 0.1rem;}
#left-nav:after {display: block;width:0.1rem;height: 100%;background: var(--border00);top: 0;position: absolute;right: 0;}
.left-nav-inner {width: 7.0rem;height: 100%;height: calc(100vh - 6.1rem);box-sizing: border-box;position: relative;}
.lnb-list {display: flex;justify-content: space-between;flex-direction: column;height: 100%;}
.lnb-list a {display: block; width:100%; height:7.0rem; position: relative;}
.lnb-list a:after {display: block; width:7.0rem; height:7.0rem; opacity: 0.85;}
.lnb-list a:hover,
.lnb-list a.on {background-color: var(--color-bg01); transition: all .2s;}
.lnb-list a:hover:after,
.lnb-list a.on:after { opacity: 1;}
.lnb-list a.on:before,
.lnb-list a:hover:before  {display: block; height:100%; width:0.4rem;  background: var(--border07); position: absolute; top:0; left:0;}

[menu-icon=left01]:after {background: url(../../images/common/left_icon01.svg)no-repeat center center;}
[menu-icon=left02]:after {background: url(../../images/common/left_icon02.svg)no-repeat center center;}
[menu-icon=left03]:after {background: url(../../images/common/left_icon03.svg)no-repeat center center;}
[menu-icon=left04]:after {background: url(../../images/common/left_icon04.svg)no-repeat center center;}
[menu-icon=left05]:after {background: url(../../images/common/left_icon05.svg)no-repeat center center;}
[menu-icon=left06]:after {background: url(../../images/common/left_icon06.svg)no-repeat center center;}


#cont-area {background: var(--color-bg01);width:100%; height: 100%;  min-height: calc(100vh - 6.1rem); }
.cont-area-inner {min-height: calc(100vh - 6.1rem);}

.stab-menu-wrap {width:100%; height:4.8rem; background: var(--color-bg01); display: block; padding-bottom: 0.1rem;}
.stab-menu-wrap:after {display: block; width:100%; height:0.1rem; background: var(--border00);}
.stab-menu-inner {height: 100%; margin:0 auto; position: relative;}                           

.go-main-btn {display: block;width:3.6rem; height:3.6rem; border-radius: 4px; z-index: 2; background: var(--color-bg01);background-size: 200% auto;display: flex;align-items: center;position: absolute;top: 0.6rem;left: 0.6rem;overflow: hidden;}
.go-main-btn:after {display: block; background: url(../../images/common/icon_home.svg)no-repeat center center; background-size: contain; width:1.6rem; height:1.6rem; margin:0 auto;}
.go-main-btn:hover,
.go-main-btn.on {display: block;width:3.6rem;height:3.6rem; border-radius: 4px; z-index: 2; background: var(--color-gradient01);background-size: 200% auto;display: flex;align-items: center;position: absolute;top: 0.6rem;left: 0.6rem;overflow: hidden; transition: all .2s;}

.stab-menu-list {width:100%;padding: 0 0 0 4.8rem !important;height: 100%;}
.stab-menu-list .swiper-slide {width:auto;height: 100%; position: relative;}
.stab-menu-list .swiper-slide:before {display: block; width:1px; height:3.6rem; background: var(--border05); position: absolute; top:calc(50% - 1.8rem); left:0; opacity: 0.8;}
.stab-menu-item {padding:0 2.0rem;display: flex;height: 100%;align-items: center; border-radius: 4px 4px 0 0;}
.stab-menu-item:before {display: block; background: url(../../images/common/tab_menu_icon.svg)no-repeat center center; width:1.6rem; height:1.4rem; opacity: 0.9;}
.stab-menu-item:after {display: block; background: url(../../images/common/tab_menu_close.svg)no-repeat center center; width:1.4rem; height:1.4rem; opacity: 0.8;}
.stab-menu-item > span {display: block; margin: 0 1.6rem 0 1.0rem; font-size:1.4rem; height: 1.6rem; color:(var(--color-text06)); opacity: 0.9;}
.stab-menu-item:hover,
.stab-menu-item.on {background: var(--color-bg06);}
.stab-menu-item:hover:before, 
.stab-menu-item.on:before {display: block; background: url(../../images/common/tab_menu_icon_ov.svg)no-repeat center center; width:1.6rem; height:1.4rem; opacity: 0.9;}

.swiper-slide:has(.stab-menu-item:hover) + .swiper-slide:before {display: none;}
.swiper-slide:has(.stab-menu-item.on) + .swiper-slide:before {display: none;}

.contain-wrap {min-height: calc(100vh - 11rem);background: var(--color-bg01); }
.contain-inner {min-height: calc(100vh - 11rem);height: 100%;}
.main-box {display: flex;align-items: center;min-height: calc(100vh - 11rem);}
.main-box-inner {width:80%;margin:0 auto;}
.main-box-inner .title-wrap {display: flex; justify-content: flex-start; flex-wrap: wrap; align-items: end; margin-bottom:2.0rem;}
.main-box-inner .title-wrap > p { font-size:5.6rem; font-weight: bold; margin-right:1.4rem}
.main-box-inner .title-wrap > div > span {display: block; line-height: 1.5; opacity: 0.8; font-weight: 400;}

.main-menu-inner {color:var(--color-text06); font-size:1.7rem; width:100%; display: flex; justify-content: space-between;}
.main-menu-item02 {width:calc(100%/6*2); margin-right:1.2rem;}
.main-menu-item01 {width:calc(100%/6); margin-right:1.2rem;}
.mm-unit {border-radius: 8px; text-align: center; width:100%; }
.mm-unit-s {width:calc(50% - 0.6rem); border-radius: 8px; display: flex; align-items: center; justify-content: center;}
.mm-unit-s-box:has(.mm-unit-s) {display: flex; justify-content: space-between;}

.mb-bg01 {background: var(--color-main-bg01);}
.mb-bg02 {background: var(--color-main-bg02);}
.mb-bg03 {background: var(--color-main-bg03);}
.mb-bg04 {background: var(--color-main-bg04);}
.mb-bg05 {background: var(--color-main-bg05);}

.main-menu-inner a {border-radius: 8px; display: flex; align-items: center; justify-content: center; height: 100%; flex-direction: column;}

.mm-unit:hover,
.mm-unit-s:hover {border:4px solid rgb(255 255 255 / 60%); box-sizing: border-box;}

.mm-unit a > span,
.mm-unit-s a > span {padding:0 1.2rem; text-align: center;}
.mm-unit:hover a > span ,
.mm-unit-s:hover a > span {text-decoration: underline;}

.mm-unit:has([main-menu=system]) { height:49.2rem; margin-bottom:1.2rem;}
.mm-unit:has([main-menu=batch]) { height:14.0rem; margin-bottom:1.2rem;}
.mm-unit:has([main-menu=process]) { height:24.0rem; margin-bottom:1.2rem;}
.mm-unit:has([main-menu=scl]) { height:24.0rem; margin-bottom:1.2rem;}
.mm-unit-s:has([main-menu=user]) { height:14.0rem; margin-bottom:1.2rem;}
.mm-unit-s:has([main-menu=code]) { height:14.0rem; margin-bottom:1.2rem;}
.mm-unit:has([main-menu=data]) { height:24.0rem; margin-bottom:1.2rem;}
.mm-unit:has([main-menu=view]) { height:24.0rem; margin-bottom:1.2rem;}
.mm-unit:has([main-menu=noti]) {  height:14.0rem;margin-bottom:1.2rem;}
.mm-unit:has([main-menu=scada]) {  height:24.0rem; margin-bottom:1.2rem;}
.mm-unit:has([main-menu=plugin]) { height:24.0rem; margin-bottom:1.2rem;}
.mm-unit:has([main-menu=meta]) { height:14.0rem; margin-bottom:1.2rem;}
.mm-unit:has([main-menu=ems]) { height:64.4rem; margin-bottom:1.2rem;}

[main-menu=batch]:after,
[main-menu=user]:after,
[main-menu=code]:after,
[main-menu=noti]:after,
[main-menu=meta]:after {display: block; background: url(../../images/common/icon_go.svg)no-repeat center center; width:2.4rem; height:2.4rem; background-size: contain; margin-top:1.0rem;}

[main-menu=system]:before {display: block; background: url(../../images/common/main_icon01.svg)no-repeat center center; width:14.0rem; height:13.0rem; background-size: contain; margin-bottom:1.4rem;}
[main-menu=process]:before {display: block; background: url(../../images/common/main_icon02.svg)no-repeat center center; width:5.8rem; height:5.8rem; background-size: contain;margin-bottom:1.4rem;}
[main-menu=scl]:before {display: block; background: url(../../images/common/main_icon08.svg)no-repeat center center; width:12.0rem; height:6.0rem; background-size: contain;margin-bottom:1.4rem;}
[main-menu=data]:before {display: block; background: url(../../images/common/main_icon03.svg)no-repeat center center; width:8.0rem; height:6.0rem; background-size: contain;margin-bottom:1.4rem;}
[main-menu=view]:before {display: block; background: url(../../images/common/main_icon04.svg)no-repeat center center; width:5.4rem; height:5.4rem; background-size: contain;margin-bottom:1.4rem;}
[main-menu=scada]:before {display: block; background: url(../../images/common/main_icon07.svg)no-repeat center center; width:12.0rem; height:6.0rem; background-size: contain;margin-bottom:1.4rem;}
[main-menu=plugin]:before {display: block; background: url(../../images/common/main_icon05.svg)no-repeat center center; width:5.8rem; height:6.0rem; background-size: contain;margin-bottom:1.4rem;}
[main-menu=ems]:before {display: block; background: url(../../images/common/main_icon06.svg)no-repeat center center; width:10.0rem; height:10.0rem; background-size: contain;margin-bottom:1.4rem;}


/* file image */
[data-type=back]:before {background: url(../../images/gbox/file_type_back.svg) no-repeat center center; background-size: contain;}

@keyframes fadeInDown {
    0% {
        opacity: 1;
        transform: translate3d(0, -50%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@-moz-keyframes fadeInDown { /* Firefox */
    0% {
        opacity: 1;
        transform: translate3d(0, -50%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@-webkit-keyframes fadeInDown { /* Safari and Chrome */
    0% {
        opacity: 1;
        transform: translate3d(0, -50%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@-o-keyframes fadeInDown { /* Opera */
    0% {
        opacity: 1;
        transform: translate3d(0, -50%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}



@media (max-width: 1780px){ 
    .main-box-inner {width:90%}
    .info-date {display: none;}
}
@media (max-width: 1280px){   
    #wrap {min-width:1280px}
    #login-wrap {width:1280px;}
    .contain-inner {overflow-y: scroll;}
}

@media (max-height: 680px){   
    .logo-title:after {display: none;}
}


